.card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 232px;
  border-radius: 10px;
  position: relative;
}

.card__photo {
  height: 201px;
  border-radius: 10px;
  width: 100%;
  background-image: url(../../images/movie1.png);
  display: block;
  object-fit: cover;
}

.card__info {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: space-between;
  padding: 14px 14px;
}

.card__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding: 0;
}

.card__time {
  width: 44px;
  height: 18px;
  background-color: #F9F9F9;
  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.card__save {
  width: 72px;
  height: 21px;
  visibility: hidden;
  background-color: #F9F9F9;
  color: #000000;
  border: none;
  border-radius: 30px;
  font-size: 10px;
  line-height: 9px;
  font-weight: 400;
  position: absolute;
  top: 14px;
  right: 14px;
  transition: .5s;
}

.card:hover .card__save {
  visibility: visible;
}

.card__save:hover {
  cursor: pointer;
  opacity: .8;
}

.card__saved {
  width: 21px;
  height: 21px;
  background-color: #FF4062;
  background-image: url(../../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  transition: .2s;
  color: transparent
}

.card__saved:hover {
  cursor: pointer;
  opacity: .8;
}

.card__delete {
  visibility: hidden;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #F9F9F9;
  background-image: url(../../images/movie-delete.svg);
  background-size: 8px 8px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card:hover .card__delete {
  visibility: visible;
}

.card__delete:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 339px;
    height: 247px;
    border-radius: 10px;
  }

  .card__info {
    padding: 25px 0 14px 0;
  }

  .card__photo {
    width: 339px;
    height: 190px;
  }

  .card__time {
    width: 44px;
    height: 12px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 300px;
    height: 200px;
    margin: 0;
  }

  .card__photo {
    width: 300px;
    height: 168px;
  }

  .card__delete {
    right: 10px;
    top: 10px;
  }

  .card__info {
    padding: 16px 0 0;
  }
}