.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  align-self: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}

.navigation__link-type-register {
  padding-right: 10px;
}

.navigation__link-movies {
  font-size: 14px;
  line-height: 16px;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link-button {
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link_profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}

.navigation__profile {
  margin-left: 30px;
}

.navigation__profile-icon {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-left: 13px;
  background: url(../../images/avatar.svg) no-repeat center;
  background-size: 10.4px 10.7px;
  background-color: #F9F9F9;
  border-radius: 6px;
}

.navigation__mob-menu-icon {
  display: none;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/burger__menu.svg);
}

@media screen and (max-width: 1023px) {
  .navigation {
    gap: 30px;
  }

  .navigation__link-type-register {
    padding-right: 0;
  }

  .navigation__mob-menu-icon {
    display: flex;
  }

  .nav-dekstop {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .navigation {
    gap: 14px;
  }

  .navigation__link {
    font-size: 10px;
  }

  .navigation__mob-menu-icon {
    width: 38px;
    height: 38px;
    background-size: 36px 38px;
  }

  .navigation__link-button {
    width: 54px;
    height: 26px;
    border-radius: 3px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}