.header {
  display: flex;
  justify-content: space-between;  
  min-height: 38px;
  padding: 18px 70px;
  align-items: center;
  border: none;
}

.header_theme_light {
  background-color: #FFFFFF;
}

.header_theme_pink {
  background-color: #F3C1F8;
}

.header__logo {
  margin: auto;
  width: 38px;
  height: 38px;
  background-image: url(../../images/header__logo.svg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 38px;
    padding: 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }
}