.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 110px 70px 96px;
  box-sizing: border-box;
}

.about-project__title {
   width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  border-bottom: 1px solid #000000;
  padding-bottom: 23px;
  text-align: left;
  margin: 0px;
  letter-spacing: -0.87px;
}

.about-project__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 110px;
  gap: 40px;
}

.about-project__collumn {
  max-width: 550px;
}

.about-project__collumn-title {
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.87px;
}

.about-project__collumn-subtitle {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 26px;
}

.about-project__time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.about-project__time-backend {
  width: 20%;
}

.about-project__time-frontend {
   width: 80%;
 }

 .about-project__week-item {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-project__time-backend-week {
   height: 36px;
   background-color: #000000;
   color: #FFFFFF;
}

.about-project__time-frontend-week {
   height: 36px;
   background-color: #F2F2F2;
   color: #000000;
}

.about-project__week-description {
   height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

@media screen and (max-width: 1024px) {
   .about-project {
      padding: 90px 50px 77px;
   }

   .about-project__container {
      margin-bottom: 93px;
      gap: 30px;
    }

   .about-project__collumn {
      max-width: 319px;
   }
    .about-project__collumn-subtitle {
      padding-top: 22px;
      font-size: 12px;
      line-height: 18px;
    }

    .about-project__time-backend {
      width: 21%;
    }
    
   .about-project__time-frontend {
      width: 79%;
   }
 }

@media screen and (max-width: 767px) {
   .about-project {
      padding: 70px 18px 60px;
   }

   .about-project__title {
     font-size: 18px;
   }

   .about-project__week-description {
      height: 33px;
   }

   .about-project__time-backend {
      width: 35%;
    }
    
   .about-project__time-frontend {
      width: 65%;
   }

   .about-project__container {
      flex-direction: column;
      margin-top: 60px;
      margin-bottom: 60px;
      gap: 56px;
    }
 }

 @media screen and (max-width: 320px) {
   .about-project__week-description {
      height: 33px;
   }

   .about-project__collumn-title {
      font-size: 18px;
      line-height: normal;
      letter-spacing: -0.87px;
   }

   .about-project__collumn-subtitle {
      font-size: 11px;
      line-height: 16px;
      padding-top: 16px;
    }

   .about-project__time-backend {
      width: 35%;
    }
    
   .about-project__time-frontend {
      width: 65%;
   }

   .about-project__container {
      flex-direction: column;
      margin-top: 60px;
      margin-bottom: 60px;
      gap: 56px;
    }

    .about-project__week-item {
      font-size: 11px;
    }
 }
